body{
	background-color: powderblue;
	 font-family: verdana;
}
.z{
	 color: blue;
    font-family: verdana;
    font-size: 300%;
	 border: 1px solid powderblue;
}
.x{
	background-color: violet;
    color: black;
    margin: 20px;
}
.c{
background-color: violet;
    color: black;
    margin: 20px;
}
.v{
background-color: violet;
    color: black;
    margin: 20px;
}
.b{
background-color: violet;
    color: black;
    margin: 20px;
}
.n{
background-color: violet;
    color: black;
    margin: 20px;	
}
.a{
	background-color: violet;
    color: black;
    margin: 20px;
}
.s{
background-color: violet;
    color: black;
    margin: 20px;
}
.d{
background-color: violet;
    color: black;
    margin: 20px;
}
.f{
background-color: violet;
    color: black;
    margin: 20px;
}
.q{
	background-color: violet;
    color: black;
    margin: 20px;
}
.w{
background-color: violet;
    color: black;
    margin: 20px;
}
.e{
background-color: violet;
    color: black;
    margin: 20px;
}
.r{
background-color: violet;
    color: black;
    margin: 20px;
}
.o{
	background-color: violet;
    color: black;
    margin: 20px;
}
.p{
background-color: violet;
    color: black;
    margin: 20px;
}
.k{
background-color: violet;
    color: black;
    margin: 20px;
}
.l{
background-color: violet;
    color: black;
    margin: 20px;
}